
 

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-bg">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <div class="logo me-auto">
        <h1><a href="index.html">Diamond Classic Interior</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
          <%=  link_to "Modular Kitchen", "modular_kitchen" %>

            <%=  link_to "Furniture Work", "furniture" %>
            <%=  link_to "Complete Interior Work", "completeinteriorwork" %>
            <%=  link_to "Complete Automation", "completeautomation" %>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Our Works</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
          <%=  link_to "Living Room", "living" %>

            <%=  link_to "Kitchen", "kitchen" %>
            <%=  link_to "Bathroom", "bathroom" %>

            <%=  link_to "Bedroom", "bedroom" %>
            
            <%=  link_to "Lobby", "lobby" %>
            <%=  link_to "Dining Room", "dining" %>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#events">Projects</a></li>

        <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>

        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

      <a href="#book-a-table" class="book-a-table-btn scrollto">Book a Quote</a>

    </div>
  </header><!-- End Header -->

       <!-- ======= Speakers Section ======= -->
    <section id="speakers">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h1>Bathroom</h1>
            <!-- <p>Here are some of our speakers</p> -->
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="speaker spe-img" data-aos="fade-up" data-aos-delay="100">
              <%= image_tag 'bathroom1.jpg' , class: "img-fluid" , alt: "",  style: "height: 25rem;" %>
                
                <div class="details">
                  <h3><a href="speaker-details.html">Bathroom</a></h3>
                  <!-- <p>Quas alias incidunt</p> -->
                  <div class="social">
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook-f"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="fa fa-youtube-play"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="speaker ab-img" data-aos="fade-up" data-aos-delay="200">
              <%= image_tag 'bathroom2.jpg' , class: "img-fluid" , alt: "",  style: "height: 25rem;" %>
                <div class="details">
                  <h3><a href="speaker-details.html">Bathroom</a></h3>
                  <!-- <p>Consequuntur odio aut</p> -->
                  <div class="social">
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook-f"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="fa fa-youtube-play"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="speaker ab-img" data-aos="fade-up" data-aos-delay="300">
              <%= image_tag 'bathroom3.jpg' , class: "img-fluid" , alt: "",  style: "height: 25rem;" %>
                <div class="details">
                  <h3><a href="speaker-details.html">Bathroom</a></h3>
                  <!-- <p>Fugiat laborum et</p> -->
                  <div class="social">
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook-f"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="fa fa-youtube-play"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="speaker ab-img" data-aos="fade-up" data-aos-delay="100">
              <%= image_tag 'bathroom4.jpg' , class: "img-fluid" , alt: "",  style: "height: 25rem;" %>
                <div class="details">
                  <h3><a href="speaker-details.html">Bathroom</a></h3>
                  <!-- <p>Debitis iure vero</p> -->
                  <div class="social">
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook-f"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="fa fa-youtube-play"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="speaker ab-img" data-aos="fade-up" data-aos-delay="200">
              <%= image_tag 'bathroom5.jpg' , class: "img-fluid" , alt: "",  style: "height: 25rem;" %>                <div class="details">
                  <h3><a href="speaker-details.html">Bathroom</a></h3>
                  <!-- <p>Qui molestiae natus</p> -->
                  <div class="social">
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook-f"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="fa fa-youtube-play"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="speaker ab-img" data-aos="fade-up" data-aos-delay="200">
              <%= image_tag 'bathroom7.jpg' , class: "img-fluid" , alt: "",  style: "height: 25rem;" %>                <div class="details">
                  <h3><a href="speaker-details.html">Bathroom</a></h3>
                  <!-- <p>Qui molestiae natus</p> -->
                  <div class="social">
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook-f"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="fa fa-youtube-play"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
  
      </section><!-- End Speakers Section -->
     

 <!-- ======= Footer ======= -->
 <footer id="footer">
 <div class="container-fluid row">
     <div class="col-4">
         <div class="footer-info">
             <h4><i class="fa fa-map-marker me-3"></i>Address<span>.</span></h4>
             <p> A108 Adam Street <br> NY 535022, USA<br><br>
                 <i class="fa fa-phone me-3"></i> <strong>Phone:</strong> +1 5589 55488 55<br>
                 <i class="fa fa-envelope me-3"></i> <strong>Email:</strong> info@example.com<br>
             </p>
             <div class="social-links mt-3">
             </div>
         </div>
     </div>
     <div class="col-4">

         <h3>Diamond Classic</h3>
         <p>Change your life style with us.</p>
         <div class="social-links">
             <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
             <a href="#" class="facebook"><i class="fa fa-facebook-f"></i></a>
             <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
             <a href="#" class="google-plus"><i class="fa fa-youtube-play"></i></a>
             <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
         </div>
     </div>
     <div class="col-4" style="text-align: -webkit-center;">
         <div class="col-lg-4 col-md-6 footer-newsletter">
             <h4>Our Newsletter</h4>
             <form action="" method="post">
                 <input type="email" name="email" class="subs">
                 <input type="submit" value="Subscribe" class="subscribe">
             </form>
         </div>
     </div>
     <div class="copyright">
         &copy; Copyright <strong><span>Diamond Classic</span></strong>. All Rights Reserved
     </div>
     <div class="credits">
         <!-- All the links in the footer should remain intact. -->
         <!-- You can delete the links only if you purchased the pro version. -->
         <!-- Licensing information: https://bootstrapmade.com/license/ -->
         <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/ -->
         Designed by <a href="">Best Tech Pvt Ltd</a>
     </div>
 </div>
</footer><!-- End Footer -->

   


      

 

 