

  

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-bg">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <div class="logo me-auto">
        <h1><a href="index.html">Diamond Classic Interior</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
          <%=  link_to "Modular Kitchen", "modular_kitchen" %>

            <%=  link_to "Furniture Work", "furniture" %>
            <%=  link_to "Complete Interior Work", "completeinteriorwork" %>
            <%=  link_to "Complete Automation", "completeautomation" %>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Our Works</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
          <%=  link_to "Living Room", "living" %>

            <%=  link_to "Kitchen", "kitchen" %>
            <%=  link_to "Bathroom", "bathroom" %>

            <%=  link_to "Bedroom", "bedroom" %>
            
            <%=  link_to "Lobby", "lobby" %>
            <%=  link_to "Dining Room", "dining" %>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#events">Projects</a></li>

        <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>

        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

      <a href="#book-a-table" class="book-a-table-btn scrollto">Book a Quote</a>

    </div>
  </header><!-- End Header -->

     <!-- ======= Recent Blog Posts Section ======= -->
     <section id="recent-blog-posts" class="recent-blog-posts">
        <div class="container" data-aos="fade-up">
  
      
      
    <div class=" section-header recent-blog-posts-1">
          <h1 style="margin-top:7rem;">Complete Interior work</h1>
          <!-- <p>Interio rabbit is one of the leading interior designing and consulting firms in Bangalore.</p> -->
        </div>
  
        <div class="row gy-5">
  
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="post-item position-relative h-100">
  
              <div class="post-img position-relative overflow-hidden hidd-img">
              <%= image_tag 'ciw1.webp' , class: "img-fluid" , alt: "" %>
              <span class="post-date">December 12</span>
              </div>
  
              <div class="post-content d-flex flex-column">
  
                <h3 class="post-title">We look at luxury and design not just as our trade,</h3>
  
             
  
                <hr>
  
                <!-- <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a> -->
  
              </div>
  
            </div>
          </div><!-- End post item -->
  
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="post-item position-relative h-100">
  
              <div class="post-img position-relative overflow-hidden hidd-img">
              <%= image_tag 'ciw2.webp' , class: "img-fluid" , alt: "" %>
                <span class="post-date">July 17</span>
              </div>
  
              <div class="post-content d-flex flex-column">
  
                <h3 class="post-title"> We move swiftly with the times,adapting to modular.</h3>
  
                
  
                <hr>
  
                <!-- <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a> -->
  
              </div>
  
            </div>
          </div><!-- End post item -->
  
          <div class="col-xl-4 col-md-6">
            <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">
  
              <div class="post-img position-relative overflow-hidden hidd-img">
              <%= image_tag 'ciw3.webp' , class: "img-fluid" , alt: "" %>
                <span class="post-date">September 05</span>
              </div>
  
              <div class="post-content d-flex flex-column">
  
                <h3 class="post-title">It was very nicely done and on time.</h3>
  
                
  
                <hr>
  
                <!-- <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a> -->
  
              </div>
  
            </div>
          </div><!-- End post item -->
  
        </div>
        <div class="row gy-5">
  
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="post-item position-relative h-100">
  
              <div class="post-img position-relative overflow-hidden hidd-img">
              <%= image_tag 'ciw4.jpg' , class: "img-fluid" , alt: "" %>
                <span class="post-date">December 12</span>
              </div>
  
              <div class="post-content d-flex flex-column">
  
                <h3 class="post-title">We look at luxury and design not just as our trade,</h3>
  
             
  
                <hr>
  
                <!-- <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a> -->
  
              </div>
  
            </div>
          </div><!-- End post item -->
  
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="post-item position-relative h-100">
  
              <div class="post-img position-relative overflow-hidden hidd-img">
              <%= image_tag 'ciw5.jpg' , class: "img-fluid" , alt: "" %>
                <span class="post-date">July 17</span>
              </div>
  
              <div class="post-content d-flex flex-column">
  
                <h3 class="post-title"> We move swiftly with the times,adapting to modular.</h3>
  
                
  
                <hr>
  
                <!-- <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a> -->
  
              </div>
  
            </div>
          </div><!-- End post item -->
  
          <div class="col-xl-4 col-md-6">
            <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">
  
              <div class="post-img position-relative overflow-hidden hidd-img">
              <%= image_tag 'ciw6.jpg' , class: "img-fluid" , alt: "" %>
                <span class="post-date">September 05</span>
              </div>
  
              <div class="post-content d-flex flex-column">
  
                <h3 class="post-title">It was very nicely done and on time.</h3>
  
                
  
                <hr>
  
                <!-- <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a> -->
  
              </div>
  
            </div>
          </div><!-- End post item -->
  
        </div>
        <div class="row gy-5">
  
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="post-item position-relative h-100">
  
              <div class="post-img position-relative overflow-hidden hidd-img">
              <%= image_tag 'ciw7.jpg' , class: "img-fluid" , alt: "" %>
                <span class="post-date">December 12</span>
              </div>
  
              <div class="post-content d-flex flex-column">
  
                <h3 class="post-title">We look at luxury and design not just as our trade,</h3>
  
             
  
                <hr>
  
                <!-- <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a> -->
  
              </div>
  
            </div>
          </div><!-- End post item -->
  
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="post-item position-relative h-100">
  
              <div class="post-img position-relative overflow-hidden hidd-img">
              <%= image_tag 'ciw8.jpg' , class: "img-fluid" , alt: "" %>
                <span class="post-date">July 17</span>
              </div>
  
              <div class="post-content d-flex flex-column">
  
                <h3 class="post-title"> We move swiftly with the times,adapting to modular.</h3>
  
                
  
                <hr>
  
                <!-- <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a> -->
  
              </div>
  
            </div>
          </div><!-- End post item -->
  
          <div class="col-xl-4 col-md-6">
            <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">
  
              <div class="post-img position-relative overflow-hidden hidd-img">
              <%= image_tag 'ciw10.webp' , class: "img-fluid" , alt: "" %>
                <span class="post-date">September 05</span>
              </div>
  
              <div class="post-content d-flex flex-column">
  
                <h3 class="post-title">It was very nicely done and on time.</h3>
  
                
  
                <hr>
  
                <!-- <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a> -->
  
              </div>
  
            </div>
          </div><!-- End post item -->
  
        </div>
  
        </div>
      </section>
      <!-- End Recent Blog Posts Section -->
      <!-- ======= Footer ======= -->
      <footer id="footer">
      <div class="container-fluid row">
          <div class="col-4">
              <div class="footer-info">
                  <h4><i class="fa fa-map-marker me-3"></i>Address<span>.</span></h4>
                  <p> A108 Adam Street <br> NY 535022, USA<br><br>
                      <i class="fa fa-phone me-3"></i> <strong>Phone:</strong> +1 5589 55488 55<br>
                      <i class="fa fa-envelope me-3"></i> <strong>Email:</strong> info@example.com<br>
                  </p>
                  <div class="social-links mt-3">
                  </div>
              </div>
          </div>
          <div class="col-4">
  
              <h3>Diamond Classic</h3>
              <p>Change your life style with us.</p>
              <div class="social-links">
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook-f"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="fa fa-youtube-play"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
          </div>
          <div class="col-4" style="text-align: -webkit-center;">
              <div class="col-lg-4 col-md-6 footer-newsletter">
                  <h4>Our Newsletter</h4>
                  <form action="" method="post">
                      <input type="email" name="email" class="subs">
                      <input type="submit" value="Subscribe" class="subscribe">
                  </form>
              </div>
          </div>
          <div class="copyright">
              &copy; Copyright <strong><span>Diamond Classic</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/ -->
              Designed by <a href="">Best Tech Pvt Ltd</a>
          </div>
      </div>
  </footer>
  
  
      

 
